/* waitingLobby styling  */

.lobbyMain {
  width: 100%;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: var(--vintagewhite);
  margin-bottom: 15px;
}

.joincode h1,
.joincode p {
  text-align: center;
  margin-bottom: 8px;
}

p {
  font-size: 1.2rem;
}

.joincode {
  border-bottom: 1px solid var(--vintagered);
  padding: 0 0 30px;
}

.lobby {
  padding: 2rem 0rem;
}

/* SUBMIT */

/* .submit-button {
  background-color: var(--vintagewhite);
  color: var(--vintagered);
  font-family: "Lato", sans-serif;
  margin-top: 50px;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid var(--vintagered);
  cursor: pointer;
} */

.submit-button:hover {
  background-color: var(--vintagered);
  color: var(--vintagewhite);
}

.waiting-room-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leave-lobby-button {
  width: 15%;
  color: var(--vintagered);
  background-color: transparent;
  border: 2px solid var(--vintagered);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 15px;
  padding: 15px;
  margin-top: 15px;
}

.leave-lobby-button:hover {
  background: var(--vintagered);
  color: var(--vintagewhite);
}

.start-game-button {
  width: 15%;
  color: var(--vintagered);
  background-color: transparent;
  border: 2px solid var(--vintagered);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 15px;
  padding: 15px;
}

.start-game-button:hover {
  background: var(--vintagered);
  color: var(--vintagewhite);
}
