@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --vintagered: #e64f30;
  --vintageblue: #23c3b5;
  --vintageyellow: #ffbe2d;
  --vintagewhite: #fff3e3;
  --vintagebrown: #e6bc9e;
}

body {
  background-color: var(--vintagewhite);
  font-family: "Lato", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* BANNER STYLING */

.banner {
  background-color: var(--vintagebrown);
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 20px;
}

.logo img {
  height: 3rem;
  width: 5rem;
}

/* HOMEPAGE STYLING */

.home-content {
  background-color: var(--vintagewhite);
  height: 100vh;
  border-radius: 20px;
  margin-top: 10%;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}
