/* HOMEPAGE STYLING  */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --vintagered: #c84639;
  --vintageblue: #6db4b0;
  --vintageyellow: #e2ae47;
  --vintagewhite: #fff3e3;
  --vintagebrown: #e9d6af;
}

html {
  background-image: url("../../assets/images/background.webp");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: 100px 120px;
}

.home-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--vintagewhite);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
