@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --vintagered: #e64f30;
  --vintageblue: #23c3b5;
  --vintageyellow: #ffbe2d;
  --vintagewhite: #fff3e3;
  --vintagebrown: #e6bc9e;
}

* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
}

#root {
  background-color: var(--vintagewhite);
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* BANNER STYLING */

.banner {
  flex: 0, 1, auto;
  background-color: var(--vintagebrown);
  display: flex;
  padding: 30px;
  /* border-radius: 20px; */
}

.logo img {
  height: 3rem;
  width: 5rem;
}

/* HOMEPAGE STYLING */

.home-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--vintagewhite);
  border-radius: 20px;
  margin-top: 5%;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
