.topics-container {
  width: 80%;
}

.topics {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  margin-top: 20px;
}

.topic-list-item {
  list-style: none;
  width: 80%;
}

.topic-button {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

.topic-button:hover {
  scale: 1.03;
}

.topic-button-easy {
  border: 2px solid var(--vintageblue);
  color: var(--vintageblue);
}

.topic-button-medium {
  border: 2px solid var(--vintageyellow);
  color: var(--vintageyellow);
}

.topic-button-hard {
  border: 2px solid var(--vintagered);
  color: var(--vintagered);
}
