.create-game-button {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  width: 30%;
  height: 200px;
  border: 2px solid var(--vintagered);
  border-radius: 15px;
  background-color: transparent;
  color: var(--vintagered);
  cursor: pointer;
  transition: all 0.1s;
}

.create-game-button:hover {
  background-color: var(--vintagered);
  color: var(--vintagewhite);
}
