/* FETCH QUIZ SYLING */

.question-form {
  background-color: var(--vintagewhite);
  text-align: center;
}

.QA {
  padding: 15px;
  border-bottom: 2px solid var(--vintagered);
}

/* Questions */

.QA h2 {
  font-family: "Lato", sans-serif;
}

/* Answers */
.choices input {
  color: var(--vintagered);
}

/* Submit button */

question-form button {
  color: var(--vintagered);
  border: 2px solid var(--vintagered);
  padding: 10px;
  border-radius: 10px;
}
