/* CreatePage styling  */

.select-difficulty-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 0 30px;
  background-color: var(--vintagewhite);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.difficulty-buttons-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.difficulty-button {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
}

.easy-button {
  border: 2px solid var(--vintageblue);
  color: var(--vintageblue);
}

.medium-button {
  border: 2px solid var(--vintageyellow);
  color: var(--vintageyellow);
}

.hard-button {
  border: 2px solid var(--vintagered);
  color: var(--vintagered);
}

.select-round-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-buttons-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.round-button {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
}
