/* BANNER STYLING */

.banner {
  flex: 0, 1, auto;
  display: flex;
  background-color: var(--vintagewhite);
  padding: 15px;
}

.logo img {
  margin-right: 20px;
}

/* CREATEPAGE only */

.back-button {
  text-decoration: none;
  color: black;
}

.username {
  font-size: 1.2rem;
}

.username h1 {
  margin-bottom: 15px;
}

/* HOMEPAGE ONLY */

.home-banner {
  justify-content: space-between;
  margin-top: 15px;
}

/* Login/Register Buttons Styling */
.loginButtons {
  margin-left: auto;
  float: right;
}

.loginButtons button {
  background: none;
  border: 2px solid var(--vintagered);
  color: var(--vintagered);
  padding: 15px;
  outline: inherit;
  border-radius: 15px;
  margin: 3px;
  font-size: 1.5rem;
  font-weight: bold;
}

.loginButtons button:hover {
  background: var(--vintagered);
  color: white;
}

@media (max-width: 675px) {
  .loginButtons button {
    padding: 10px;
    margin: 3px;
    font-size: 1.2rem;
    border-radius: 12px;
  }
  .username h1 {
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  .logo img {
    height: 100px;
  }
}

@media (max-width: 565px) {
  .loginButtons button {
    padding: 8px;
    margin: 2px;
    font-size: 1rem;
  }
  .username h1 {
    margin-bottom: 8px;
    font-size: 1.5rem;
  }
  .logo img {
    height: 80px;
  }
}

@media (max-width: 565px) {
  .username h1 {
    margin-bottom: 6px;
    font-size: 1.2rem;
  }
  .logo img {
    margin-right: 15px;
    height: 70px;
  }
  a h3 {
    font-size: 1rem;
  }
}

@media (max-width: 435px) {
  .loginButtons button {
    padding: 8px;
    margin: 2px;
    font-size: 0.8rem;
    border-radius: 10px;
  }
  .username h1 {
    margin-bottom: 6px;
    font-size: 1.2rem;
  }
  .logo img {
    margin-right: 15px;
    height: 70px;
  }
  a h3 {
    font-size: 1rem;
  }
}
.loginButtons button:hover {
  background: var(--vintagered);
  color: white;
}
