/* BANNER STYLING */

.banner {
  flex: 0, 1, auto;
  display: flex;
  background-color: var(--vintagewhite);
  padding: 15px;
}

.logo img {
  margin-right: 20px;
}

/* CREATEPAGE only */

.back-button {
  text-decoration: none;
  color: black;
}

.username {
  font-size: 1.2rem;
}

.username h1 {
  margin-bottom: 15px;
}

/* HOMEPAGE ONLY */

.home-banner {
  justify-content: space-between;
  margin-top: 15px;
}

/* Login/Register Buttons Styling */
.loginButtons {
  margin-left: auto;
  float: right;
}

.loginButtons button {
  background: none;
  border: 2px solid var(--vintagered);
  color: var(--vintagered);
  padding: 15px;
  outline: inherit;
  border-radius: 20px;
  margin: 3px;
  font-size: 1.5rem;
  font-weight: bold;
}

.loginButtons button:hover {
  background: var(--vintagered);
  color: white;
}
