/* PAGE NOT FOUND STYLING */

.not-found {
  background-color: var(--vintagewhite);
  border-radius: 20px;
  height: 80vh;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.not-found img {
margin-top: 0px;
}


.not-found h1 {
  font-size: 225px;
}


